@import '../../../assets/styles/all';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  @include text();
  color: $grey-dark;
  font-size: $font-size;
  background-color: $white-tinted;
}

a {
  @include link();
  color: $blue;
}

.logo {
  height: 10vmin;
  pointer-events: none;

  @include userHasAnimationEnable(){
    .eyes{
      path, ellipse{
        animation: Home-logo-blink infinite 10s linear;
        animation-delay: 3s;
      }
    }
  }
}

.header {
  background-color: $grey-dark-tinted;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  padding: $space_md;

  h1{
    @include heading();
  }

  ul{
    list-style: none;
  }
}

.link {
  color: $sky-blue;
}

@keyframes Home-logo-blink {
  0%, 4%, 6%, 100% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
}
