@import "../../assets/styles/media-queries";
@import "../../assets/styles/units";

.two-columns{
  max-width: $max-width;
  margin: $space_lg auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  list-style: none;

  @include phone(){
    grid-template-columns: 1fr;
    text-align: left;
    margin: $space_lg;
    grid-row-gap: $space_sm;
    list-style: disc;
    list-style-position: inside;
  }
}