// this file creates a default set of colors that you need to use in your project.
// fill free of create, edit or remove the colors as you wish
// Tip: use descriptive names but try to not to be so specific.
// For instance: $white-tinted instead of $white-tinted-light-blue
$white: #fff;
$white-tinted: #eff;
$grey: #ccc;
$grey-neutral-dark: #777;
$grey-dark: #333;
$grey-dark-tinted: #101319;
$black: #000;

$red: #f00;
$yellow: #ff0;
$blue: #006fff;
$sky-blue: #61dafb;
$green: #0fc;
$green-light: #8cc;
