// Fonts
// ussually is recomended load no more of 2 fonts, one font used as default font, and another one used as accent or highlighted font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

@mixin font-default {
  font-family: 'Lato';
  font-weight: 400;
}

@mixin font-default-bold {
  @include font-default();
  font-weight: 700;
}

@mixin font-accent {
  font-family: 'Open Sans';
}

@mixin font-accent-bold {
  @include font-accent();
  font-weight: 600;
}
