$device-size: (
  'phone': 480px,
  'tablet': 960px,
  'desktop': 1280px,
) !default;

@mixin screen($size) {
  @media screen and (max-width: map-get($device-size, $size)) {
    @content;
  }
}

@mixin phone() {
  @include screen('phone') {
    @content;
  }
}

@mixin tablet() {
  @include screen('tablet') {
    @content;
  }
}

@mixin desktop() {
  @include screen('desktop') {
    @content;
  }
}

@mixin printer() {
  @media print {
    @content;
  }
}

@mixin userHasAnimationEnable {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}
