@import "units";
@import "fonts";

@mixin base-text {
  font-weight: 400;
  font-size: $font_size;
  line-height: 1.2;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
}

@mixin heading {
  @include base-text;
  @include font-accent();

  font-size: $font_size_lg;
}

@mixin title {
  @include base-text;
  @include font-default-bold();

  font-size: $font_size_md;
}

@mixin text {
  @include base-text;
  @include font-default();

  font-size: $font-size;
}

@mixin small {
  @include base-text;

  font-size: $font_size_sm;
}

@mixin link {
  @include base-text;

  font-size: $font_size;
  text-decoration: underline;
  cursor: pointer;
}

@mixin button {
  @include base-text;

  font-size: $font_size_md;
  text-decoration: none;
  cursor: pointer;
}
