// Units
// Is a good practice on UI create sizes as multiple of 8

$space_xxxs: 1px;
$space_xxs: 2px;
$space_xs: 4px;
$space_sm: 8px;
$space_md: 12px;
$space_lg: 16px;
$space_xl: 24px;
$space_xxl: 40px;
$space_xxxl: 80px;

$font_size_xxs: 4px;
$font_size_xs: 8px;
$font_size_sm: 12px;
$font_size: 16px;
$font_size_md: 18px;
$font_size_lg: 24px;
$font_size_xl: 36px;
$font_size_xxl: 48px;

$max-width: 900px;
